$black: #000;

.single {
  font-family: Helvetica, sans-serif;
  margin: 0 auto;

  h1 {
    font-size: 40px;
    margin: 0;
    border-bottom: 1px solid $black;
  }


  &::after {
    display: block;
    content: '';
    clear: both;
  }

  .phone {
    width: 450px;
    float: left;
  }

  .describer {
    width: calc(100% - 450px);
    float: left;
  }

}

