<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SimulatedBoi</title>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.examples.css %>">
    <!--suppress HtmlUnknownTarget -->
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</head>

<body>
<div id="examples"></div>

<!--suppress HtmlUnknownTarget -->
<script src="<%= htmlWebpackPlugin.files.chunks.examples.entry %>"></script>
</body>
</html>
